atomicwrites==1.4.1
attrs==22.1.0
colorama==0.4.5
greenlet==1.1.2
iniconfig==1.1.1
jedi==0.18.1
msgpack==1.0.4
numpy==1.23.1
packaging==21.3
parso==0.8.3
pluggy==1.0.0
py==1.11.0
pygame==2.1.2
pynvim==0.4.3
pyparsing==3.0.9
pytest==7.1.2
tomli==2.0.1
